{
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "always",
        "semi": false,
        "trailingComma": "all",
        "endOfLine": "lf",
        "tabWidth": 2,
        "singleQuote": true,
        "printWidth": 80,
        "useTabs": false
      }
    ],
    "no-console": "warn"
  }
}